{% extends 'layout/columns.html.twig' %}

{% block title %}About{% endblock %}

{% block meta %}
    <meta name="description" content="About page description" />
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ route('home') }}">Home</a></li>
            <li class="breadcrumb-item active">About</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
    <h1>About the site</h1>
{% endblock %}