{% extends 'layout/default.html.twig' %}

{% block main %}404 - Not Found{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Error</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <h1>404 - Not Found</h1>
{% endblock %}